:root {
	--red-dark: #b32d2e;
	--red-mediun: #D54E21;
	--red-light: #FAEDE8;
}
.blink {
	animation: blinker 2s linear infinite;
}
@keyframes blinker {
	50% {
		opacity: 0;
	}
}
.plugins-php .vulnerability {
	background-color: var(--red-mediun);
	padding: 4px;
}
.plugins-php .vulnerability .alert {
	color: white;
}
/* Admin plugins table styles */
.plugins tr.wpvulnerability td, .plugins tr.wpvulnerability.active td {
	background-color: var(--red-light);
}
.plugins tr.wpvulnerability:before {
	background-color: var(--red-light);
	content: "";
	display: table-cell;
}
.plugins tr.wpvulnerability.active::before {
	border-left: 4px solid var( --red-mediun );
}
.plugins tr.wpvulnerability p.text-red, .plugins tr.wpvulnerability.active p.text-red {
	color: var(--red-mediun)
}
.wpvulnerability-header {
	background-color: #1d73be;
	margin-left: -20px;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	color: white;
}
.wpvulnerability-header .logo {
	min-width: 20%;
}
.wpvulnerability-header h2 {
	float: right;
	color: white;
	padding: 25px 0 0 0;
	margin: 0;
}

/* Admin core table styles */
.update-core-php table.wpvulnerability td {
	background-color: var(--red-light);
}
.update-core-php table.wpvulnerability tr:before {
	background-color: var(--red-light);
	content: "";
	display: table-cell;
}
.update-core-php table.wpvulnerability tr.active::before {
	border-left: 4px solid var( --red-mediun );
}
.update-core-php p.text-red {
	color: var(--red-mediun)
}
